# Install newest versions from github
-e git://github.com/PacificBiosciences/pbcore.git#egg=pbcore
-e git://github.com/PacificBiosciences/pbcommand.git#egg=pbcommand
# Use my newest version
-e git://github.com/mpkocher/pbsmrtpipe.git#egg=pbsmrtpipe
